.boton-pedido:{
    position: fixed;
    justify-content: center;   /* Centra los elementos horizontalmente */
    background-color: #ffcc23;
    font: 2rem;
    border-color: black bold;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
}
