html {
    font-size: 62.5%;    /* este es el tamaño por defecto de "1 rem" (root em)*/
}
 body { 
    margin: 0;
    font-size: 1.6rem ;
    font-family: "Lexend", sans-serif;
    /* min-width: 600px; */
}
header {
    width: 100%;
    background-color: orange;
}

main {
    padding: 2rem;
    width: 90%;
    /* background-color: orange; */
}
.contenedor-header {
    display: flex;
    /* border: 1px solid blue; */
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}
.colores-empresa {
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: black;
    font-weight: bold;
    font-size: 50px;
}
 .colores-empresa a{
    color: yellow;
    margin: auto;
} 
.letra-empresa {
    font-size: 1.5rem;
}
/* Navegación en forma de lista horizontal */
.menu  ul {
    margin: 0;
    list-style: none;          /* Elimina viñetas */
    padding: 0;                /* Elimina relleno */
    display: flex;             /* Activa Flexbox */
    justify-content: center;   /* Centra los elementos horizontalmente */
    gap: 20px;                 /* Espacio entre los ítems de la lista */
    background-color: rgb(250, 131, 19);
}
.menu  ul a{
    color: black;
    text-decoration: none;
}

.contenedor-main {
    display: flex;
    padding: 2rem;
    width: 100%;
    margin: 1rem;
    justify-content: center;
    /* border: 1px solid black; */
 }

/* Tabla para las imagenes */

.cuadro-servicios {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permite que las filas se ajusten al espacio disponible */
    border: 5px solid blue; /* Agregar un borde para mostrar las celdas */

}
.celda-imagen {
    display: flex;
    flex-direction: column;
    padding: 10px; /* Añadir un poco de espacio para la presentación */
    border: 10px solid red; /* Agregar un borde para mostrar las celdas */
    width: 20px;
    /* border-radius: 20%; */
}
.imagen-servicio {
    display: flex;
    flex-direction: column;
    padding: 10px; /* Añadir un poco de espacio para la presentación */
    border: 10px solid red; /* Agregar un borde para mostrar las celdas */
    width: 20rem;
    /* border-radius: 20%; */
}

/* Estilo para el formulario */
.formulario {
    /* border: double violet; */
    align-items: center;
    min-width: 300px;
}
form {
  /* border: 5cap solid black; */
  display: flex;             /* Activa Flexbox */
  flex-direction: column;    /* Coloca los elementos en columna */
  gap: 1rem;                 /* Espacio entre campos */
  /* max-width: 600px;          Ancho máximo */
  margin: 0 auto;            /* Centrado horizontal */
}

/* Footer */

.footer-container{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: hsl(36, 100%, 78%);
    /*border: 1px solid red; /* Agregar un borde para mostrar las celdas */
    margin-bottom: 0px;
}
.footer-container a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}
.redes{
    display: flex;

}

/* media query para celulares hasta 600px */
@media (max-width:600px) {

.item-footer a {
    text-decoration: line-through;
    
}
}
