html {
    font-size: 62.5%;    /* este es el tamaño por defecto de "1 rem" (root em)*/
}
 body { 
    margin: 0;
    font-size: 1.6rem ;
    font-family: "Lexend", sans-serif;
}
/* ----------------------------------------------------------------------------------------- */
/* ---------------------------------------- HEADER ------------------------------------------*/
/* ----------------------------------------------------------------------------------------- */
header {
    width: 100%;
    background-color: orange;
}

.contenedor-header {
    display: flex;
    /* border: 1px solid blue; */
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}
.colores-empresa {
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: black;
    font-weight: bold;
    font-size: 50px;
}
 .colores-empresa a{
    color: yellow;
    margin: auto;
} 
.letra-empresa {
    font-size: 1.5rem;
}
/* Navegación en forma de lista horizontal */
.menu  ul {
    margin: 0;
    list-style: none;          /* Elimina viñetas */
    padding: 0;                /* Elimina relleno */
    display: flex;             /* Activa Flexbox */
    justify-content: center;   /* Centra los elementos horizontalmente */
    gap: 20px;                 /* Espacio entre los ítems de la lista */
    background-color: rgb(250, 131, 19);
}
.menu  ul a{
    color: black;
    text-decoration: none;
}
/* ----------------------------------------------------------------------------------------- */
/* ---------------------------------------- MAIN --------------------------------------------*/
/* ----------------------------------------------------------------------------------------- */
main {
    /* display:flex; */ 
    padding: 2rem;
    width: 90%;
}
.contenedor-main {
    display: flex;
    width: 100%;
    border: 1px solid black;
 }

.celda-imagen {
  position: relative;
  margin: 10px
}

.imagen-servicio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover; /* Opcional: para que la imagen cubra el espacio */
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    /* mix-blend-mode: overlay; */

}
.celda-servicio {
  color: white;
  padding: 20px;
  position: relative; /* Para que el texto esté encima de la imagen */
}
button{
    justify-content: center;   /* Centra los elementos horizontalmente */
    background-color: #ffcc23;
    font: 2rem;
    border-color: black bold;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
}
/* Estilo para el formulario */
.formulario {
    /* border: double violet; */
    align-items: center;
    min-width: 300px;
}
form {
  /* border: 5cap solid black; */
  display: flex;             /* Activa Flexbox */
  flex-direction: column;    /* Coloca los elementos en columna */
  gap: 1rem;                 /* Espacio entre campos */
  /* max-width: 600px;          Ancho máximo */
  margin: 0 auto;            /* Centrado horizontal */
}

/* ----------------------------------------------------------------------------------------- */
/* ---------------------------------------- FOOTER ------------------------------------------*/
/* ----------------------------------------------------------------------------------------- */
 footer {
    display: flex;
    flex-direction: column;
} 
 .redes ul{   
    margin: 0;
    list-style: none;          /* Elimina viñetas */
    display: flex;             /* Activa Flexbox */
    justify-content: center;   
    gap: 2rem;                 /* Espacio entre los ítems de la lista */
    background-color: white;
}
 .redes li {
    margin: 0;
    list-style: none;          
    font-size: 2.5rem;
} 
.copyright {
    text-align: center;
} 
/* ----------------------------------------------------------------------------------------- */
/* -------------------------------MEDIA QUERY PARA PCs ------------------------------------- */
/* media query para pantallas más grandes que la de un celular en vertical (más de 600px) */
/* ----------------------------------------------------------------------------------------- */

@media (min-width:601px) {
.celda-imagen {
    display: flex;
    align-items: center; 
    margin-bottom: 1rem;
}
.imagen-servicio {
    position: relative;
      width: 20rem; /* Ajusta según la necesidad */
      height: auto;
      margin-right: 2rem; /* Espaciado entre la imagen y el texto */
    /* border-radius: 20%; */
}
.capa {
    opacity: 0;
}
.celda-servicio {
    color: black;
    text-align: justify;
}
}
